<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>auth</title>
</head>
<body>
  <form method="POST" action="/auth">
    <label for="usrname">username:</label>
    <input type="text" name="username" id="usrname"><br>
    <label for="psw">password:</label>
    <input type="password" name="password" id="psw"><br>
    <button type="submit">submit</button>
  </form>
</body>
</html>